html {
    background-color: rgb(255, 245, 151);
    color: rgb(153, 144, 67);
    font-family: 'League Spartan', sans-serif;;
}

#header-title {
    margin: 0;
    width: fit-content;
}

.col-container {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*  */
.gif-container {
    margin: 10px;
    width: 200px;
    height: 200px;
    background-color: aqua;
}

#start-game-btn {

}